html, body, footer {
    margin: 0;
    padding: 0;
  }
.header{
    padding:5px 10px 10px 100px;
    text-align: left;
    background: #00853E;
    color:white;
    font-size: medium;
    font-family: Helvetica;
    line-height: 50%;
}
/* removes bullet points from navbar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* styles list items of the navbar */
nav li {
  display: inline-block ;
  font-size: medium;
  font-family: Helvetica;
  margin-right: 70px ;
  text-transform: uppercase;
}
/* some hover action for navbar */
nav a:hover {
  color: grey;
}
/* login attributes */
nav .login{
  background: #4b8500;
  padding-left: 50px;
  padding-right: 50px; 
  
}
/* navigation bar properties */
.navbar{
  padding: 5px 100px;
  background: black;
  color: white;
}

/*positions the map image*/
img#map{
  position: relative;
  top: -10px;
  bottom: 100px;
  left: 180px;
}
/*positions the food image*/
img#food{
  height: 225px;
  width: 450px;
  position: relative;
  top: -150px;
  bottom: 100px;
  left: 425px;
  
}


/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }
  .first_col, .second_col, .third_col, .fourth_col {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .first_col{
    background-image: url("Images/Home/disco-park-grill_portfolio-cover1.jpeg");
  }
  .second_col{
    background-image: url("Images/Home/disco-park_banner2.jpg");
  }
  .third_col{
      background-image: url("Images/Home/starbucks_banner_cropped2-1.jpg");
  }
  .fourth_col{
      background-image: url("Images/Home/disco-park_banner1.jpeg");
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
  }
  .home_strip{
        position: relative;
        text-align: center;
        color: white;
  }
  .center_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Playfair Display',serif;
    font-size: 43px;
    font-style: italic;
    
  }

  .footer {
    position:relative;
    padding:10px 10px 25px 100px;
    text-align: left;
    text-indent: 5%;
    background: #000000;
    color: #72B844;
    font-size: medium;
    font-family: Helvetica; 
    line-height: 50%;
    bottom:0;
    }

.bottom-nav{
  align-items:stretch ;

}
.bottom-nav a:after{
  content: "|";
  
}

.bottom-nav:last-child a:after{
  content: ' ';
}

.bottom-nav2{
  color: white;
}

.bottom-nav3{
 text-align: right;
 float: right;
 color:white; 
}