html, body {
    margin: 0;
    padding: 0;
  }
.header{
    padding:5px 10px 10px 100px;
    text-align: left;
    background: #00853E;
    color:white;
    font-size: medium;
    font-family: Helvetica;
    line-height: 50%;
}

/*positions the map image*/
img#map{
  position: relative;
  top: -10px;
  bottom: 100px;
  left: 180px;
}
/*positions the food image*/
img#food{
  height: 225px;
  width: 450px;
  position: relative;
  top: -150px;
  bottom: 100px;
  left: 425px;
  
}


/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }
