
li{
    display: inline-block ;
}


.signin-prompt{
    /* padding-left: 20 px;  */
    background-color: #00853E;
    border-radius: 5px;
    height: 45px;
    width: 360px;
    color:white;
    position: relative;
    /* left: 50% ; */
    top: 10px;
    font: Poppins semi bold;
    border: 3px solid #00853E;
    z-index: 10;
    font-weight: bold;
}

.signup-prompt{
    height: 45px;
    /* padding-left: 20 px;  */
    background-color: #00853E;
    border-radius: 5px;
    width: 600px;
    color:white;
    position: relative;
    bottom: 155px;
    /* left: 370px; */
    font: Poppins semi bold;
    border: 3px solid #00853E;
    z-index: 10;
    font-weight: bold;
}

.signin {
    border-radius: 10px;
    width: 360px;
    height: 270px;
    border: 3px solid rgb(172, 164, 164);
    padding: 0px;
    margin-right: 20px;
    position: relative;
    /* left: 350px; */
    bottom: 20px;
  }

.signup {
    border-radius: 10px;
    width: 600px;
    height: 270px;
    border: 3px solid rgb(172, 164, 164);
    padding: 0px;
    /* margin: 20px; */
    position: relative;
    /* left: 350px; */
    bottom: 185px;
  }


  input[type=text] {
    background-color: #f1efefef;
    padding: 10px;
    width: 310px;
    height: 30px;
    border: .1px solid rgb(172, 164, 164);
    position: relative;
    left: 10px;
    top: 20px;
    border-radius: 5px;

  }

  input[type=submit] {
    padding: 10px;
    width: 335px;
    height: 45px;
    position: relative;
    left: 10px;
    top: 20px;
    background-color: #00853E;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }
  .submit1{
    padding: 10px;
    width: 335px;
    height: 45px;
    position: relative;
    left: 10px;
    top: 20px;
    background-color: #00853E;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 0em;
  }

  input[type=password] {
    background-color: #f1efefef;
    padding: 10px;
    width: 310px;
    height: 30px;
    border: .1px solid rgb(172, 164, 164);
    position: relative;
    left: 10px;
    top: 20px;
    border-radius: 5px;
  }
  
.registrationButton{
  text-align: center;
  padding: 15px;
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
  left: 170px;
  top: 115px;
  background-color: #00853E;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-family: Helvetica;
}
  .registrationButton:hover, .submit1:hover{
    color: grey;
    cursor: pointer;
    transition: .4s;
}


  .footer-container{
    position: relative;
    margin-top:100px;
    height: 5cm;
    clear: both;
    background-color: black;
   
  }
  .footer{
    width: 80%;
    color:#72B844;
    display:inline-block;
  }
  .footer-1 h2{
    color:#72B844; 
    transform: translateX(-5px);  
  }
  .footer-3 h2{
    transform: translateY(10px);
  }
 


@media only screen and (min-width: 300px){
  .signin-prompt{
    width: 800px;
    left: 50px ;
    top: 10px;
  }

  .signup-prompt{
    width: 800px;
    bottom: 0px;
    left: 50px ;
  }

  .signin {
    width: 800px;
    left: 50px ;
    bottom: 20px;
  }

  .signup {
    width: 800px;
    padding: 0px;
    left: 50px ;
    bottom: 30px;
  }

  input[type=text] {
    padding: 15px;
    width: 750px;
  }

  input[type=submit] {
    padding: 15px;
    width: 500px;
    left: 150px;
  }

  input[type=password] {
    padding: 15px;
    width: 750px;
  }
  
  .registrationButton{
    padding: 20px;
    padding-left: 225px;
    padding-right: 225px;
    left: 150px;
  }

}



/* makes webpage responsive */
@media only screen and (min-width: 1200px){
  .signin-prompt{
    width: 360px;
    left: 15% ;
  }

  .signup-prompt{
    width: 600px;
    bottom: 155px;
    left: 15% ;
  }

  .signin {
    width: 360px;
    margin-right: 20px;
    left: 15% ;
  }
.signup {
    width: 600px;
    left: 15% ;
    bottom: 185px;
  }
  input[type=text] {
    padding: 10px;
    width: 310px;

  }
  input[type=submit] {
    padding: 10px;
    width: 335px;
    left: 10px;
  }

  input[type=password] {
    padding: 10px;
    width: 310px;
  }
  
  .registrationButton{
    padding: 15px;
    padding-left: 90px;
    padding-right: 90px;
    left: 170px;
  }

}

@media only screen and (min-width: 1300px){
  .signin-prompt{
    left: 25% ;
  }
  .signup-prompt{
    left: 25% ;
  }
  .signin {
    left: 25% ;
  }
  .signup {
    left: 25% ;
  }
}


@media only screen and (min-width: 1400px){
  .signin-prompt{
    left: 30% ;
  }
  .signup-prompt{
    left: 30% ;
  }
  .signin {
    left: 30% ;
  }
  .signup {
    left: 30% ;
  }
}

@media only screen and (min-width: 1500px){
  .signin-prompt{
    left: 35% ;
  }
  .signup-prompt{
    left: 35% ;
  }
  .signin {
    left: 35% ;
  }
  .signup {
    left: 35% ;
  }
}

@media only screen and (min-width: 1600px){
  .signin-prompt{
    left: 40% ;
  }
  .signup-prompt{
    left: 40% ;
  }
  .signin {
    left: 40% ;
  }
  .signup {
    left: 40% ;
  }
}

@media (max-width:1400px) {
  .footer{
    display:inline-flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer img{
    display: none;
  }
  .footer-1{
   margin-left: 40px;
    }
  .footer-2{
    margin-right: 75px;
    text-align: left;
   
  }
  .footer-3{
    transform: translateY(-11px);
    flex-direction: column;
  }
  .footer-3 p{
    margin-bottom: 5px;
  }
}
