
.createacc-sign{
  text-align: center;
  padding-left: 20 px; 
  background-color: #00853E;
  border-radius: 5px;
  height: 40px;
  width: 590px;
  color:white;
  position: relative;
  left: 35%;
  top: 10px;
  font: Poppins semi bold;
  border: 2px solid #00853E;
  z-index: 10;
  font-weight: bold;
}


.createacc-container{
  border-radius: 10px;
  text-align: center;
  width: 590px;
  height: 350px;
  border: 2px solid rgb(172, 164, 164);
  padding: 0px;
  position: relative;
  left: 35%;
  bottom: 20px;
}

input[type=text] {
  background-color: #f1f0f0;
  padding: 10px;
  width: 370px;
  height: 20px;
  font-size: large;
  position: relative;
  border: .1px solid rgb(172, 164, 164);
  left: 10px;
  top: 20px;
  border-radius: 5px;

}

input[type=password] {
  background-color: #f1f0f0;
  padding: 10px;
  border: .1px solid rgb(172, 164, 164);
  width: 370px;
  height: 20px;
  position: relative;
  font-size: large;
  left: 10px;
  top: 20px;
  border-radius: 5px;
}

input[type=submit] {
  padding: 10px;
  width: 335px;
  height: 45px;
  position: relative;
  left: 10px;
  top: 20px;
  background-color: #00853E;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-size: large;
}

.submit1 :hover{
  color: grey;
  cursor: pointer;
  transition: .4s;
}






















.footer-container{
  position: relative;
  margin-top:201px;
  clear: both;
  background-color: black;
  }
  .footer{
    width: 80%;
    color:#72B844;
    display:inline-block;
   
  }
  .footer-1 h2{
    color:#72B844; 
    transform: translateX(-5px);
    }
 